.fa-stack:hover {
	opacity: 0.4;
}

.modal-header {
	background-color: #337ab7;
	color: white;
	font-family: times;
}

.modal-body {
	font-family: times;
}

footer {
	margin: 0px;
	padding: 50px;
	background-color: #377ab7;
}

.portfolio-item:hover {
	cursor: pointer;
}

.fa-linkedin, .fa-facebook {
	color: white;
}

.job-title {
	display: inline-block;
	padding: 6px 6px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    /*border-radius: 4px;*/
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
	cursor: pointer;
}